{% extends "base.html" %}

{% block main_content %}
    <form action="" method="POST" novalidate>
        {{ form.hidden_tag() }}
        {{ form.alive.label }}
        {{ form.alive() }}
        <br />
        {{ form.submit }}
    </form>
    <p>
        {{outcome}}
    </p>
    <img src="{{ url_for('static', filename='elvis.jpg') }}" alt="A picture of Elvis" />

    {# In the below link, we want to link to a function, not a static page, therefore we pass the function name to url_for() #}
    <p><a href="{{ url_for('topping') }}">Go to the Elvis Eats game!</a></p>
{% endblock main_content %}
