{% extends "base.html" %}

{% block main_content %}
<div class="container">
    <h1>Account Management</h1>
    <div class="row">
        <h2>Calendar Options</h2>
        <button class="btn btn-danger">
            <a href="{{url_for('clear_calendar')}}" class="text-white text-decoration-none" onclick="return confirm('Are you sure you want to erase your Calendar history?')">
                Erase Calendar history
            </a>
        </button>
    </div>
    <div class="row">
        <h2>To Do List Options</h2>
        <button class="btn btn-warning btn-rounded">
            <a href="{{url_for('expired_to_do')}}" class="text-white text-decoration-none">View expired items</a>
        </button>
        <button class="btn btn-danger btn-rounded">
            <a href="{{url_for('clear_to_do')}}" class="text-white text-decoration-none" onclick="return confirm('Are you sure you want to erase all To Do List history?')">
                Erase To Do List history
            </a>
        </button>
    </div>
    <div class="row">
        <h2>Expenses Options</h2>
        <button class="btn btn-danger btn-rounded">
            <a href="{{url_for('clear_expenses')}}" class="text-white text-decoration-none" onclick="return confirm('Are you sure you want to erase all Expenses history?')">
                Erase Expenses History
            </a>
        </button>
    </div>
    <div class="row">
        <h2>Erase Account</h2>
        <button class="btn btn-danger">
            <a href="{{url_for('delete_user')}}" class="text-white text-decoration-none">
                Erase my account
            </a>
        </button>
    </div>
</div>



{% endblock main_content %}