<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename = 'styles.css')}}" />
    <title>Document</title>
</head>

<body>
    <h1>Calendar/ToDo</h1>
    {% if "user_id" in session %}
    <p>Hello, {{session["user_id"]}}</p>
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
            {{ message }}
            {% endfor %}

        {% endif %}
    {% endwith %}
    {% block main_content %}

    {% endblock main_content %}

    <footer>
        &copy; Jack Moloney, Web Dev 2
        <nav>
            <h2>Operations</h2>
            <ul>
                <li><a href="{{ url_for('create_event') }}">Create an Event</a></li>
                <li><a href="{{ url_for('view_calendar') }}">View Events</a></li>
                <li><a href=" {{url_for('todo')}} ">To Do</a></li>
            </ul>

            <h2>Navigation</h2>
            <ul>
                <li><a href="{{ url_for('register')}}">Register</a></li>
                <li><a href="{{ url_for('login')}}">Login</a></li>
                <li><a href="{{ url_for('logout')}}">Logout</a></li>
                <li><a href="{{ url_for('reset_password') }}">Reset Password</a></li>
            </ul>
        </nav>

    </footer>
    {% block javascript %}

    {% endblock javascript %}
</body>

</html>