{% extends "base.html" %}

{% block main_content %}

    <div class="container">
        <table class="table table-borderless">
            <thead>
                <tr>
                    <th scope="col" width="60%">Item</th>
                    <th scope="col">Creation Date</th>
                    <th scope="col">Age (in days)</th>
                    
                </tr>
            </thead>
            <tbody>
                {% for item in expired_to_do %}
                {% set item_id = item['item_id'] %}
                <tr>
                    <td>{{item['item_details']}}</td>
                    <td>{{item['creation_date']}}</td>
                    <td>{{item['age']}}</td>
                    <td><a href="{{ url_for('recover_item', item_id = item['item_id'] ) }}">Add to To Do List</a></td>
                {% endfor %}   
                </tr>         
            </tbody>
        </table>
    </div>

{% endblock main_content %}