{% extends "base.html" %}

{% block main_content %}
    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        {{ form.user_id.label() }}
        {{ form.user_id() }}
        {% for error in form.user_id.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{ form.current_password.label() }}
        {{ form.current_password() }}
        {% for error in form.current_password.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{ form.new_password.label() }}
        {{ form.new_password() }}
        {% for error in form.new_password.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{ form.new_password2.label() }}
        {{ form.new_password2() }}
        {% for error in form.new_password2.errors %}
            {{error}}
        {% endfor %}
        <br />
        {{form.submit()}}
    </form>
{% endblock main_content %}