{% extends "base.html" %}

{% block main_content %}
    
        <ul>
            {% for item in session["toDoList"] %}
                {# 
                    Form that has a stringfield, when submitted creates a checkbox field with value of stringfield input, stores in DB/cookies
                 #}
                <li><input type="checkbox" name="" id="" />{{item}}</li>
            {% endfor %}
        </ul>
    

    <form action="" method="POST" novalidate>
        {{form.hidden_tag()}}
        {{form.new_item(placeholder="Enter an item here...")}}
    </form>
{% endblock main_content %}